@font-face {
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Merriweather-Regular.ttf') format("truetype");
}

body {
    background: lightgray url('../img/paper_fibers.png') repeat;
    font-family: Merriweather;
    font-size: 16px;
    direction: rtl;
    margin-right: 10px;
}

p {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: normal;
    word-wrap: break-word;
}

del {
   background-color: lightpink;
   color: black;
   text-decoration: line-through;
   font-weight: lighter;
}

ins {
  background-color: aquamarine;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

img {
    vertical-align: middle;
    margin-right: -5px;
    margin-bottom: 5px;
    width: 30px;
}

.alignleft {
    margin-right: 0em;

    font-size: 14px;
    text-align:left;
    direction:ltr;
    color:gray
}
.alignright {
    float:right;
}